*{margin: 0;padding: 0;}
ul,li{list-style: none;}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
#xxx{
    background: #cfcfcf;
    display: block;
}
.actions{
    width: 100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
}
.actions > svg{
    padding: 6px 4px;
    width: 1.5em;
    height: 1.5em;
    fill: gray;
    transition: all 0.3s;
}
.actions > svg.active{
    fill: #000000;
    transform: scale(1.2);
}
.actions > ol{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    vertical-align: top;
    padding: 6px 4px;
}
.actions > ol > li{
    width: 1em;
    height: 1em;
    margin: 0 4px;
    border-radius: 50%;
}
.actions > ol > li.active{
    border: 1px solid black;
    transform: scale(1.2);
}
#black{background: #000000;}
#green{background: #00FF00;}
#blue{background: #0066FF;}
#orange{background: #FF5511;}
#red{background: #FF0000;}
#yellow{background: #FFFF00;}
#purple{background: #9900FF;}